*{
  cursor: url(wrench.cur),auto;
}


.indexPage{
  background-color: rgba(200, 200, 200, 0.5);
  background-image: url(../img/sparkPlug.png);
  background-repeat:space;
}
.login{
  text-align: center;

}
h4{
  text-align: center;
  text-shadow: orange 1px 1px;
  background-image:radial-gradient(silver,grey);

}
