*{
  cursor: url(wrench.cur),auto;
}


.indexPage , .page1, .page2{
  /* background image for all pages */
  background-image: url(../img/engine.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;

}
.login{
  text-align: center;

}
h4{
  text-align: center;
  text-shadow: orange 1px 1px;
  background-image:radial-gradient(aliceblue,silver);
}
.nav{
  background-color: silver;
  font-size: 2em;
  

}
