*{
  cursor: url(wrench.cur),auto;
}


.indexPage , .page1, .page2{
  /* background image for all pages */
  background-image: url(../img/engine.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;

}
.login{
  text-align: center;

}
h4{
  text-align: center;
  text-shadow: orange 1px 1px;
  background-image:radial-gradient(aliceblue,silver);
}
.navig{
  background-color: silver;
  font-size: 2em;
}
.conImg{
  border: 5px groove coral;
  border-radius: 10px;
  opacity: .8;
  margin:  10px;
}
